<!DOCTYPE html>
<html>
<head>
  <title>Produit : <%= product.titre %></title>
</head>
<body>
  <h1><%= product.titre %></h1>
  <p>ID : <%= product.id %></p>
  <p>Prix : <%= product.prix %></p>
  <p>Stock : <%= product.stock %></p>
  <a href="/products">Retour à la liste des produits</a>
</body>
</html>
